@model twitterProject.Models.User

@{
    ViewData["Title"] = "Sign Up";
}

<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>



    <!-- Css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


            <link rel='stylesheet' type='text/css' media='screen' href='~/css/style.css'>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/3789dd4df1.js" crossorigin="anonymous"></script>

</head>

<body>
<div class="row registerform">
     <i class="fa-brands fa-twitter fa-4x "></i>
            <h1>Create your account</h1>
    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label> <br/>
                <input asp-for="FirstName" class="form-control" /> <br/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label> <br/>
                <input asp-for="LastName" class="form-control" /> <br/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label> <br/>
                <input asp-for="Email" class="form-control" /> <br/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label> <br/>
                <input asp-for="ImageUrl" class="form-control" /> <br/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label> <br/>
                <input asp-for="Password" class="form-control" /> <br/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-dark btn-lg btn-outline-light btn-block signup" />
            </div>
        </form>
                    <p class="text-danger m-auto w-75">@ViewBag.message</p>
    </div>
</div>

<div>
    <a asp-action="Index">Back toLogin</a>
</div>

</body>


</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




